<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Coffee Manager</title>
</head>
<body>
  <nav class="nav-bar">
    <ul style="list-style: none">
      <li><button>Home</button></li>
    </ul>
  </nav>


  <div id="container">
    <!-- React goes here -->
  </div>
  


  <script src="js/bundle.js"></script>
</body>
</html>